BOT_TOKEN="YOUR_BOT_TOKEN"
CLIENT_ID="YOUR_APPLICATION_ID"
GUILD_ID="YOUR_SERVER_ID"
OWNER_ID="YOUR_USER_ID"

MONGODB_HOST=localhost:27017
MONGODB_DB=electricalwizard
# MONGODB_USER=
# MONGODB_PASSWORD=

TRANSLATION_API_KEY="YOUR_TRANSLATION_API_KEY"
# TRANSLATION_API_URL="https://lang.mystwiz.net"

# Web Dashboard
DISCORD_CLIENT_SECRET="YOUR_DISCORD_CLIENT_SECRET"
WEB_PORT=7611
WEB_SESSION_SECRET="YOUR_SESSION_SECRET_32_CHARS_MIN"
WEB_BASE_URL="http://localhost:3000"
